.title-form {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  & h1 {
    color: $primary;
    font-family: $font;
    letter-spacing: 8px;
    text-shadow: 3px 1px 2px rgba(254, 209, 27, 0.6);
    font-size: 6rem;
  }
  & .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    margin-top: 200px;

    & .logo {
      @include logo;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: -85px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    & .form-card {
      @include form;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;
      height: 560px;
    }
    & .name-container {
      position: relative;
      margin: 50px;
    }
    & .email-container {
      position: relative;
      margin: 50px;
    }
    & .message-container {
      position: relative;
      margin: 50px;
    }
    & .input-name {
      @include input;
      &::placeholder {
        opacity: 0.7;
      }
      &:focus {
        outline: none;
      }
    }
    & .input-mail {
      @include input;
      &::placeholder {
        opacity: 0.7;
      }
      &:focus {
        outline: none;
      }
    }
    & #email {
      @include fa-enveloppe;
      position: absolute;
    }
    & .input-area {
      height: 120px;
      width: 350px;
      border-radius: 10px;
      border: 3px solid $primary;
      padding: 10px;
      resize: none;
      font-family: $font2;
      font-size: 1.1rem;
      letter-spacing: 1.5px;
      text-align: center;
      &::placeholder {
        opacity: 0.7;
      }
      &:focus {
        outline: none;
      }
    }
    & .password-container {
      position: relative;
      margin: 50px;
    }
    & .input-password,
    .input-password-confirm {
      @include input;
      &::placeholder {
        opacity: 0.7;
      }
      &:focus {
        outline: none;
      }
    }
    & #lock {
      @include fa-lock;
      position: absolute;
    }
    & .mdp-validate {
      font-size: 0.8rem;
      position: absolute;
      bottom: -20px;
      font-family: $font2;
      letter-spacing: 1px;
      font-weight: 100;
    }
    & .button-form {
      margin: 0;
    }
  }
  & .navlink-container {
    font-family: $font2;
    letter-spacing: 1px;
    padding: 5px;
    margin: 15px;
    & .inscription {
      text-decoration: 1px underline black;
      text-underline-offset: 2px;
      color: black;
      & p {
        margin: 3px;
      }
      &:hover {
        color: $primary;
        text-decoration: 1px underline $primary;
        text-underline-offset: 2px;
      }
    }
    & span {
      line-height: 1.5rem;
    }
  }
  .rgpd-container {
    margin-top: 20px;
  }
}
